
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Admin</title>
<!-- plugins:css -->
<link rel="stylesheet"
	href="/adminResources/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/adminResources/css/vendor.bundle.base.css">
<link rel="stylesheet"
	href="/adminResources/css/vendor.bundle.addons.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/adminResources/css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/adminResources/images/favicon.png" />
<script>

async function fetchAndDisplayPolicies() {
const query = "SELECT * FROM policies";
try {
  const result = await fetch('/execute-query', {
	method: 'POST',
	headers: {
	  'Content-Type': 'application/json',
	},
	body: JSON.stringify({ query }),
  });
  const data = await result.json();
  const tableBody = document.querySelector('#data-table tbody');
  
//   if(data.length!=0)
//   {
//   tableBody.innerHTML='';
//   data.forEach(policy => {
//     const row = document.createElement('tr');
	    
//     // Create and append table cells for each policy property
//     row.innerHTML = `
// 	  <td>${policy.PolicyID|| 'N/A'}</td>
//       <td>${policy.PolicyName || 'N/A'}</td>
//       <td>${policy.Category || 'N/A'}</td>
//       <td>${policy.Priority || 'N/A'}</td>
//       <td>${policy.PolicyDescription || 'N/A'}</td>
// 	  <td>
// 		<i class="mdi mdi-pencil lead"></i>
// 		<i class="mdi mdi-delete lead text-danger ml-2"></i>
// 	  </td>
//     `;
    
//     tableBody.appendChild(row);
//   });
// }
  list= JSON.stringify(data);
  console.log(list);
  return list;
  }
  catch (error) {
  console.error('Error:', error);
  document.getElementById('policiesList').textContent = 'An error occurred while fetching policies';
}
}

window.onload = async function() {
	  const data=await fetchAndDisplayPolicies();
	  const list=JSON.parse(data);
	  // Show the main content
	  //if(list!=null){
		document.getElementById('loader-spinner').style.display = 'none';
		console.log('HERE' +list);
		document.getElementById('data-table').style.display = 'block';
	//   }
	//   else{}
	  
  };
  </script>
<style>
	#data-table
	{
		display: none;
	}
	.centre-allign
	{
		display: block;
		align-self: center;
		margin: 0 auto; /* Added */
        float: none;
	}
</style>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->


		<%- include('header') %>


		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_settings-panel.html -->
			<!-- partial -->
			<!-- partial:../../partials/_sidebar.html -->


			<%- include('menu') %>


			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="card">
						<div class="card-header custom-card-header">
							<h4 class="text-primary m-0">Policy Details</h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									
									<div id="loader-spinner"class="loader-spinner centre-allign"style="padding: 70px"></div>
									
									<div id="data-table"class="table-responsive">
										<table id="order-listing" class="table">
											<thead>
												<tr>
													<th>Policy No</th>
													<th>Policy Name</th>
													<th>Category</th>
													<th>Priority</th>
													<th>Description</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<% result.forEach(res => { %>
													<tr>
														<td><%= res.PolicyID || 'N/A' %></td>
														<td><%= res.PolicyName || 'N/A' %></td>
														<td><%= res.Category || 'N/A' %></td>
														<td><%= res.Priority || 'N/A' %></td>
														<td><%= res.PolicyDescription || 'N/A' %></td>
														<td>
															<i class="mdi mdi-pencil lead"></i>
															<i class="mdi mdi-delete lead text-danger ml-2"></i>
														</td>
													</tr>
												<% }); %>
												
											</tbody>
										</table>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->


				<%- include('footer') %>


				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	
	<script src="/adminResources/js/vendor.bundle.base.js"></script>
	<script src="/adminResources/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="/adminResources/js/off-canvas.js"></script>
	<script src="/adminResources/js/hoverable-collapse.js"></script>
	<script src="/adminResources/js/template.js"></script>
	<script src="/adminResources/js/settings.js"></script>
	<script src="/adminResources/js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/adminResources/js/data-table.js"></script>
	<!-- End custom js for this page-->
</body>

</html>
